<div class="msg-box" >
                    <div class="picture">
                        <img class="pop-card" data-position="right center" data-offset="-40"
                             data-href="{{ url_for('chat.get_profile', user_id=message.sender.id) }}"
                             src="{{ message.sender.gravatar }}">
                    </div>
                    <div class="msg" >
                        <h3><span class="nickname" style="color:palevioletred">{{ message.sender.nickname }}</span>
                        <small class="timestamp">{{ moment(message.timestamp).format('lll') }}</small>

                        {% if isShow==1 and message.persuasive==1 %}
                        <span class="label label-info">persuasive</span>
                        {%endif%}
                        {% if isShow==1 and message.persuasive==0 %}
                            <span class="label label-warning">non-persuasive</span>
                        {% endif %}

                        <span class="message-body">{{ message.body|safe }}</span></h3>
                    </div>
                    {% if current_user.is_authenticated %}
                    <div class="ui icon left dropdown ellipsis-icon" >
                                <i class="ellipsis vertical icon"></i>
                                <div class="menu" data-offset="-33" style="float:left;">
                                    <div class="item quote-button">
                                        Quote
                                    </div>
                                </div>
                    </div>
                    {% endif %}

                </div>
