
{% extends 'base.html' %}

{% block nav %}
    <div class="ui top fixed borderless menu" style="width: 1800px;">

        <a class="item catchat" href="{{ url_for('chat.index') }}">
            <img src="{{ url_for('static', filename='logo.png') }}">
            <span>PersuasiveChat</span>
        </a>


    </div>
{% endblock %}




{% block content %}
    <div class="pusher">
        <div class="chat-box">


            <div class="messages">
                <div class="ui text loader">Loading messages...</div>
                {% include 'chat/messages.html' %}
            </div>
        </div>
    <div class="input-area" >
            <div class="ui grid form">
                <div class=" wide column">
                    <div class="field fluid message-box">
                        {% if current_user.is_authenticated %}

                            <div class="item" id="deletequote" hidden>
                                <span type="text" id="quote" style="width:750px;display: block;"></span>
                                            <i class="delete icon" ></i>
                                        </div>
                            <img class="pop-card input-avatar" data-position="bottom left"
                                 data-href="{{ url_for('chat.get_profile', user_id=current_user.id) }}"
                                 src="{{ current_user.gravatar }}">
                            <textarea rows="5" id="message-textarea"
                                      placeholder="Write your message here... Enter to send"></textarea>
                        {% else %}
                            <div class="ui floating message">Please <a href="{{ url_for('auth.login') }}">Sign in</a> or
                                <a href="{{ url_for('auth.register') }}">Sign up</a> to send message.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    <div class="ui right fixed menu " style="width: 400px;border: 100px;">

        <div class="ui labeled icon right vertical inverted demo menu " style="width: 400px;" >



<hr>
        <hr>

               <p style="color:white; width:350px; line-height: 20px; margin-left: 20px; font-size:16px;"  align="justify" >Persuasion is commonly considered as a communication strategy with the purpose to influence others by modifying their beliefs, values, or attitudes. You can find about how to write more persuasively at places like: <a href="https://www.grammarcheck.net/ten-important-triggers-for-persuasive-writing/" target="_blank">https://www.grammarcheck.net/ten-important-triggers-for-persuasive-writing/</a></p> .



{% if isShow==1 %}
    <p style="color:white;width: 350px;line-height: 20px;margin-left: 20px;font-size:16px;" align="justify" > In this tool, we use a computational technique to detect the persuasion power of a message. </p>

    <p style="color:white;width: 350px;line-height: 20px;margin-left: 20px;font-size:16px;" align="justify"> If a message is labelled to be persuasive, it means that according to our technique it has a relatively high chance to influence your view. </p>
       <p style="color:white;width: 350px;line-height: 20px;margin-left: 20px;font-size:16px;" align="justify">If it is labelled to be non-persuasive, that chance is relatively low.</p>
{% endif %}
        <hr>

        <a class="btn btn-warning" onclick="showhelp();">
                <i class="help icon"></i>
                Markdown Help
            </a>
            {% if current_user.is_authenticated %}
                {% if type %}
                <a class="btn btn-info" onclick="leave_private_room();">Leave this room</a>
                    {% else %}
                    <a class="btn btn-info" onclick="leave_group_room();">Leave this room</a>
                    {% endif %}
                    {% else %}
                        <div class="item">
                            <a class="ui primary button" href="{{ url_for('auth.login') }}">
                                Sign in</a>
                        </div>
                    {% endif %}
        </div>
    </div>


</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
       var socket = io('/chat');
        var room_id ="{{room_id}}";
        var room_name ="{{room_name}}";
        var user_url = "{{ url_for('chat.get_users') }}";
        var isShow="{{isShow}}";
    </script>
{% endblock %}
